p{
  height:500px;
  width:800px;
  background-color:aqua;
  border:2px solid blue;
  overflow: scroll;
  padding-left: 200px;
  position: relative;
  left:300px;
}
.square{
  height: 100px;
  width: 100px;
  background-color: green;
  color: white;
  position: fixed;
  top:100px;
  left:50px;

}
